<app-adminh></app-adminh>

<h1 class="heading">Policy requests</h1>

<table id="customers">
 <thead>
  <tr>
    <th>Username</th>
    <th>PolicyId</th>
    <th>Date</th>
    <th>Status</th>
    <th colspan="2"></th>
    <th colspan="2"></th>

  </tr>
</thead>
<tbody>
    <tr *ngFor="let obj of pol">
        <td>{{obj.userName}}</td>
         <td>{{obj.policyId}}</td>
         <td>{{obj.date | date : 'shortDate'}}</td>
         <td>pending...</td>

         <td><button *ngIf="show" (click)="approve(obj.userName,obj.policyId)" class="btn" id="button1"  type="submit">Approve</button> <p *ngIf = "approved" style="color: green;">Approved</p></td>
         <td><button *ngIf="show" (click)="disapprove(obj.userName,obj.policyId)" class="btn" id="button2" style="background-color: rgb(199, 35, 35); color: white;"  type="submit" >Disapprove</button><p *ngIf = "disapproved" style="color: red;">Disapproved</p></td>
    </tr>
</tbody>
</table>
