<nav>
  <h2><b>Admin Page</b></h2>

  <div class="nav_items">
    <li><a routerLink="/adminhome" routerLinkActive="active">Dashboard</a></li>
    <li><a routerLink="/addpolicies" routerLinkActive="active">Add Policies</a></li>
    <li><a routerLink="/viewpolicies" routerLinkActive="active">View Policies</a></li>
    <li><a routerLink="/customers" routerLinkActive="active">Approval Requests</a></li>
    <li><a routerLink="/customerhistory" routerLinkActive="active">Policy holders</a></li>
    <li><a href="">Logout</a></li>
  </div>

</nav>
