<app-header></app-header>
<section id="home">
  <video controls="" autoplay="" muted="" loop="">
      <source src="https://static.videezy.com/system/resources/previews/000/020/483/original/Keyboard-Insurance.mp4" type="video/mp4">
  </video>

  <div class="container">
      <div class="row pt-5">
          <div class="home-text col-md-8 col-sm-12 mt-5">
              <h5><b>Getting insurance is YOUR responsibility to your family and loved ones. You may hate it but it is your responsibility.</b></h5>
              <p><i>A website to apply insurance</i></p>
              <ul class="section-btn">
                <a href="#">
                  <span data-hover="Explore" routerLink="/home">Explore</span>
                </a>
              </ul>
          </div>
      </div>
  </div>

  <div class="overlay"></div>

</section>
